<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YellowCab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="theme-color" content="#3b3b3b">
    <link rel='shortcut icon' href='static/images/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="static/css/app.min.css">
    <link rel="stylesheet" href="static/css/plot.css">
    <script src="static/js/vendor/modernizr.custom.js"></script>
  </head>
  <body id="top">
    <div class="wrapper">
      <!-- Header -->
      <header id="header">
        <!--<a href="#nav">Options</a>-->
        <a href="#"> <span id="logo" style="background-image:url(static/images/logo.png);"></span></a>
      </header>
        
      <!-- NAV -->
      <nav id="nav">
        <div class="form-control switch-container" style="display:{{is_fixed}}" >
          <label for="next-location">
          <strong>Neighbor</strong>
          </label>
          <input id="next-location" type="text" name="next-location" placeholder="Type location">
          <input type="checkbox" value="Pick-up">Pick-up
          <input type="checkbox" value="Drop-off">Drop-off    
        </div>
		
        <strong>Show/hide markers on map</strong>
        <div class="form-control switch-container">
          Pick-up
          <div class="onoffswitch">
            <input id="pickup-switch" type="checkbox" name="pickup-switch" class="onoffswitch-checkbox" checked>
            <label class="onoffswitch-label" for="pickup-switch">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
            </label>
          </div>
        </div>
        <div class="form-control switch-container">
          Drop-off
          <div class="onoffswitch">
            <input id="dropoff-switch" type="checkbox" name="dropoff-switch" class="onoffswitch-checkbox" checked>
            <label class="onoffswitch-label" for="dropoff-switch">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
            </label>
          </div>
        </div>
        <div class="form-control switch-container">
          Congestion
          <div class="onoffswitch">
            <input id="dropoff-switch" type="checkbox" name="dropoff-switch" class="onoffswitch-checkbox" checked>
            <label class="onoffswitch-label" for="dropoff-switch">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
            </label>
            </div>
        </div>
        
        <!-- clear -->
        <div style="clear: both;"></div>
          
        <!-- widgets -->
          
        <div id="widget-congestion" class="widget" style="background-image:url(/static/images/congestion.png)">
            <a href="#" class="more-info" data-widget="congestion">More info</a>
        </div>
        
        <div id="widget-tip-estimator" class="widget" style="background-image:url(/static/images/tip-estimator.png)">
            <a href="#" class="more-info" data-widget="tip-estimator">More info</a>
        </div>
         
        <div id="widget-recommendation" class="widget" style="background-image:url(/static/images/recommendation.png)">
            <a href="#" class="more-info" data-widget="recommendation">More info</a>
        </div>
          
      </nav>
        
      <div id="map"></div>
    
      <!-- Overlays -->
      <div id="congestion" class="overlay">
           <h1>CONGESTION INDEX<span class="close">x</span></h1>
           <hr>
           <div class="plot"></div>
      </div>
      
      <div id="tip-estimator" class="overlay">
           <h1>TRIP ESTIMATOR<span class="close">x</span></h1>
           <hr>
      </div>
    
      <div id="recommendation" class="overlay">
           <h1>RECOMMENDATION<span class="close">x</span></h1>
           <hr>
      </div>
        
        
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.9.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/plot.js"></script>
    <script src="static/js/vendor/classie.js"></script>
    <script>
      var center_lat = {{lat}};
      var center_lng = {{lng}};
    </script>
    <script src="static/js/map.js"></script>
	<script src="static/js/markerclusterer.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{gmaps_key}}&amp;callback=initMap&amp;libraries=places,geometry"></script>
    
        
    <script type="text/javascript">
    $(document).ready(function() {
        $(".more-info").click(function() {
           widget = $(this).data("widget");
           $("#"+widget).show();
        });
        $(".close").click(function(){
          $(this).parent().parent().hide();  
        })
    })
    </script>
      
    
  </body>
</html>
